header, main, nav, footer, section, article, figure, figcaption, aside { display: block; 
}
.blend1 { background-image: url(vikings-logo.png);
        background-color: red;
        background-blend-mode: multiply; 
}
.blend2 { background-image: url(vikings-logo.png);
        background-color: green;
        background-blend-mode: multiply; 
}
.hue1 { background-image: url(vikings-logo.png); 
        background-color: red;
        background-blend-mode: hue;
}
.hue2 { background-image: url(vikings-logo.png); 
        background-color: green;
        background-blend-mode: hue;
}

.normal { background-image: url(vikings-logo.png);
}
.red { background: red; 
}
.green { background: green; 
}

body { padding: 20px; 
}
.demo > div {
  float: left;
  width: 200px;
  height: 150px;
  background-size: cover; 
}
.map { float: left; width: 720px; height:150px; clear: both; }
.text { float: left; width: 800px; height: 50px; clear: both; margin: 50px; font-weight: bold; }